<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inventory List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/privacy">
        <ion-icon slot="icon-only" name="shield-checkmark"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-searchbar placeholder="Search item by exact name..." animated="true"></ion-searchbar>

<ion-list>
  <ion-list-header>
    <ion-label>Current Database</ion-label>
  </ion-list-header>

  <ion-item *ngFor="let item of items">
    <ion-label>
      <h2>{{ item.item_name }}</h2>
      <p>Category: {{ item.category }} | Status: {{ item.stock_status }}</p>
      <p>Qty: {{ item.quantity }}</p>
    </ion-label>

    <ion-note slot="end" color="success">
      <h2>${{ item.price }}</h2>
    </ion-note>
  </ion-item>

</ion-list>

</ion-content>